Repository TrinityCore/TrinityCore, pull requests merged in 2018-10, with the labels that each got.

#22582 Core/Movement: Properly calculate the first Catmull-Rom spline point
  src/server/game/Movement/Spline/MoveSpline.cpp
  src/server/game/Movement/Spline/Spline.cpp
  src/server/game/Movement/Spline/Spline.h
Labels: Comp-Core, Feedback-PatchFix, Sub-Movement

#22638 [3.3.5] Scripts/Spells: Life Tap
  src/server/scripts/Spells/spell_warlock.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#22723 Add rotation to .gob info
  sql/updates/world/3.3.5/2018_10_28_00_world.sql
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObjectData.h
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_gobject.cpp
Labels: Comp-Core, Feedback-PatchFix
