Repository TrinityCore/TrinityCore, pull requests merged in 2018-02, with the labels that each got.

#21386 3.3.5 deadlocks
  src/server/database/Database/DatabaseWorkerPool.cpp
  src/server/database/Database/Transaction.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Database

#21401 Scripts/Uldaman: Archaedas should become attackable after clicking the altar
  src/server/scripts/EasternKingdoms/Uldaman/instance_uldaman.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#21419 Scripts/Commands: add AI/ScriptName to .gobject info
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_gobject.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Commands

#21322 Core/Entities: Reduce the probability of units dropping under the map
  src/common/Collision/DynamicTree.cpp
  src/common/Collision/DynamicTree.h
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Collision/Management/VMapManager2.h
  src/common/Collision/Maps/MapTree.cpp
  src/common/Collision/Maps/MapTree.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Entities

#20725 Core/Entities: remove grid-wide visibility from setActive and implement another method for it
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_nefarian.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/zone_the_scarlet_enclave.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
  src/server/scripts/Kalimdor/OnyxiasLair/boss_onyxia.cpp
  src/server/scripts/Kalimdor/WailingCaverns/wailing_caverns.cpp
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/instance_obsidian_sanctum.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_baltharus_the_warborn.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/ruby_sanctum.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Northrend/Naxxramas/boss_noth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_skadi.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Entities

#21396 Core/Spells: Execute item casts immediately
  src/server/game/Spells/Spell.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#21475 Core/Characters: Upgrade limitation to 16 characters per realm
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Miscellaneous
