Repository TrinityCore/TrinityCore, pull requests merged in 2018-06, with the labels that each got.

#21970 Scripts/Karazhan: make Barnes properly start the Opera Event
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
Labels: Comp-C++Script, Feedback-FixOutdatedMissingWIP

#22000 Core/Spells: Reset Mangle cooldown in Berserk
  sql/updates/world/3.3.5/2018_06_04_00_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#21696 Core/Spells: Make some spells negative
  src/server/game/Spells/SpellInfo.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Spells

#22045 Flag Explosive Shot as a negative spell effect. Closes #21922.
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellMgr.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#21957 Common: Replace ip2nation by ip2location.
  sql/base/auth_database.sql
  sql/updates/auth/3.3.5/2018_06_23_00_auth.sql
  src/common/IPLocation/IPLocation.cpp
  src/common/IPLocation/IPLocation.h
  src/server/authserver/Main.cpp
  src/server/authserver/Server/AuthSession.cpp
  src/server/authserver/authserver.conf.dist
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#22087 Name and implement UNIT_FLAG_NON_ATTACKABLE_2
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Unit/UnitDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: Branch-3.3.5a, Comp-Core
