Repository TrinityCore/TrinityCore, pull requests merged in 2018-07, with the labels that each got.

#22114 Core/LFG Fix DFProposalResponse packet read
  src/server/game/Server/Packets/LFGPackets.cpp
Labels: Branch-master

#21943 Core/Player: Proper handling mount and shapeshift on Flight Path start and end.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/ArtifactHandler.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix

#22050 Core/Entities: Ethereal Soul-Trader
  sql/updates/world/3.3.5/2018_07_25_00_world.sql
  src/server/scripts/Pet/pet_generic.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-FixOutdatedMissingWIP, Sub-PetMinion, Sub-Spells

#22187 [SQL] pvpstats_players allow to accept uint32
  sql/base/characters_database.sql
  sql/updates/characters/master/2018_07_28_00_characters.sql
Labels: Branch-master, Comp-Database, Feedback-FixOutdatedMissingWIP

#22137 Core/Spells: Add helper to reset proc cooldowns directly
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-ScriptingEngine, Sub-Spells

#21593 Core/Item: handle Artifact tiers + Artifact unlock (3rd Relic bonus)
  sql/base/characters_database.sql
  sql/updates/characters/master/2018_07_31_00_characters.sql
  sql/updates/hotfixes/master/2018_03_18_00_hotfixes.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/HotfixDatabase.cpp
  src/server/database/Database/Implementation/HotfixDatabase.h
  src/server/game/DataStores/DB2LoadInfo.h
  src/server/game/DataStores/DB2Stores.cpp
  src/server/game/DataStores/DB2Stores.h
  src/server/game/DataStores/DB2Structure.h
  src/server/game/DataStores/DBCEnums.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/ArtifactHandler.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Server/Packets/ArtifactPackets.cpp
  src/server/game/Server/Packets/ArtifactPackets.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Miscellaneous
