Repository TrinityCore/TrinityCore, pull requests merged in 2018-04, with the labels that each got.

#21756 Core/Spells: Fix UNIT_CREATED_BY_SPELL in SPELL_EFFECT_SUMMON
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#21722 [3.3.5] Split TargetedMovementGenerator
  src/common/Utilities/Util.h
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/Entities/Object/G3DPosition.hpp
  src/server/game/Entities/Pet/PetDefines.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Loot/LootItemStorage.h
  src/server/game/Movement/AbstractFollower.cpp
  src/server/game/Movement/AbstractFollower.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/ChaseMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/ChaseMovementGenerator.h
  src/server/game/Movement/MovementGenerators/FollowMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/FollowMovementGenerator.h
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
  src/server/game/Movement/PathGenerator.cpp
  src/server/game/Movement/PathGenerator.h
  src/server/game/Movement/Spline/MoveSplineInit.h
  src/server/game/Petitions/PetitionMgr.cpp
  src/server/game/Petitions/PetitionMgr.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Movement

#19231 Core/Misc : Personal spawn
  src/server/game/Combat/ThreatManager.cpp
  src/server/game/DataStores/DBCEnums.h
  src/server/game/Entities/Creature/TemporarySummon.cpp
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Maps/Map.h
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP

#20851 Core/Auras: implement Aura 379 (SPELL_AURA_MOD_MANA_REGEN_PCT)
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Spells

#21606 Core/Battleground: resolve auto distribution of Arena Points
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-PvP-Zones

#21804 Core/Auras: Implemented Aura 178 (SPELL_AURA_MOD_MAX_POWER_PCT)
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
Labels: Branch-master, Comp-Core, Feedback-PatchFix

#21646 Core/Player: Fix equipment set GUID handling
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Player

#21774 Core/AI: added CreatureAI hook for successful spell casts
  src/server/game/AI/CreatureAI.h
  src/server/game/Spells/Spell.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-AI, Sub-Spells

#21521 Core/Entities: update Scaling to 7.3.5
  sql/updates/world/master/2018_04_12_00_world.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Server/Packets/CombatLogPacketsCommon.cpp
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Entities

#21730 Core/Player: allow random Battleground and Arena queues at the same time
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Player, Sub-PvP-Zones

#19409 Core/Entities: Warlock pet base damage table fix
  sql/updates/world/3.3.5/2018_04_15_00_world.sql
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-PetMinion

#21687 Scripts/Stratholme: Baroness Anastari rework
  src/server/scripts/EasternKingdoms/Stratholme/boss_baroness_anastari.cpp
  src/server/scripts/EasternKingdoms/Stratholme/stratholme.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-FixOutdatedMissingWIP, Sub-Instances

#21835 Implement ItemLimitCategoryCondition.db2
  sql/updates/hotfixes/master/2018_04_18_00_hotfixes.sql
  src/server/database/Database/Implementation/HotfixDatabase.cpp
  src/server/database/Database/Implementation/HotfixDatabase.h
  src/server/game/DataStores/DB2LoadInfo.h
  src/server/game/DataStores/DB2Stores.cpp
  src/server/game/DataStores/DB2Stores.h
  src/server/game/DataStores/DB2Structure.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/ItemHandler.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix

#21837 Core/Bnet: Improve client ban messages
  src/server/bnetserver/Server/Session.cpp
  src/server/bnetserver/Server/Session.h
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/game/Server/WorldSocket.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix

#21833 Core/Guild: Implement guild master dethrone
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Handlers/GuildHandler.cpp
  src/server/game/Server/Packets/GuildPackets.cpp
  src/server/game/Server/Packets/GuildPackets.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
Labels: Branch-master, Comp-Core, Feedback-PatchFix

#21857 Core/Movement: move MoveSplineInit
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Vehicle/Vehicle.cpp
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementDefines.h
  src/server/game/Movement/MovementGenerators/GenericMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/GenericMovementGenerator.h
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.h
  src/server/game/Movement/Spline/MoveSpline.cpp
  src/server/game/Movement/Spline/MoveSplineInit.h
  src/server/game/Movement/Spline/MoveSplineInitArgs.h
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_skadi.cpp
  src/server/scripts/World/npcs_special.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a, Comp-Core, Feedback-WaitingResponse, Sub-Movement, help wanted

#21848 Core/Spells: Fix display for Shaman totems
  sql/updates/world/master/2018_04_23_00_world.sql
  src/server/game/Entities/Totem/Totem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
  src/server/game/World/World.cpp
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP

#21859 Core/Battleground: Fix arena distribution timer where it is less than the current unix time.
  sql/base/characters_database.sql
  sql/updates/characters/3.3.5/9999_99_99_99_characters.sql
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP

#21776 Core/Player: character teleported by GM on first login skips intro cinematic
  src/server/database/Database/Implementation/CharacterDatabase.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Priority-FutureFeatureRequest, Sub-Database, Sub-Player

#21853 Core/Items: Add loot scaling support
  sql/base/characters_database.sql
  sql/updates/characters/master/2018_04_28_00_characters.sql
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
  src/server/game/DataStores/DBCEnums.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/ItemHandler.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix

#21648 Core/Player: HasItemCount and DestroyItemCount now count bank bags
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Player

#21206 Core/CombatRating: Versatility implementation
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-StatSystem
