Repository TrinityCore/TrinityCore, pull requests merged in 2018-08, with the labels that each got.

#21778 Core/AreaTrigger: handle AREATRIGGER_FLAG_HAS_CIRCULAR_MOVEMENT
  sql/updates/world/master/2018_08_05_00_world.sql
  src/server/game/Entities/AreaTrigger/AreaTrigger.cpp
  src/server/game/Entities/AreaTrigger/AreaTrigger.h
  src/server/game/Entities/AreaTrigger/AreaTriggerTemplate.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Globals/AreaTriggerDataStore.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Server/Packets/AreaTriggerPackets.cpp
  src/server/game/Server/Packets/AreaTriggerPackets.h
  src/server/scripts/Spells/spell_warlock.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Entities

#22091 Scripts/Scarlet Enclave: Death Comes From On High
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix

#22124 [3.3.5] Core/Loot/Gameobject: Tempspawned Gameobjects after looting
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#22297 Core/Packets: Reduce memory footprint of cached queries
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Item/ItemTemplate.cpp
  src/server/game/Quests/QuestDef.cpp
  src/server/game/Server/Packet.h
  src/server/shared/Packets/ByteBuffer.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Priority-FutureFeatureRequest, Sub-Miscellaneous

#21566 Scripts/Uduar: XT002 Rework
  sql/updates/world/3.3.5/2018_08_26_01_world.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_xt002.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#22321 Core/LFG: fixed random dungeon cooldown
  src/server/game/DungeonFinding/LFGMgr.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Miscellaneous
