Repository TrinityCore/TrinityCore, pull requests merged in 2018-03, with the labels that each got.

#21535 Core/Player: fix HasItemFitToSpellRequirements for SPELL_ATTR8_ARMOR_SPECIALIZATION
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Player

#20981 Core/Entities: Creature powers
  src/server/game/DataStores/DB2Stores.cpp
  src/server/game/DataStores/DB2Stores.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/Commands/cs_modify.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Entities, Sub-PetMinion, Sub-Vehicles

#21534 Transitional Cryptography update for OpenSSL 1.1
  cmake/macros/FindOpenSSL.cmake
  src/common/Cryptography/ARC4.cpp
  src/common/Cryptography/ARC4.h
  src/common/Cryptography/HmacHash.cpp
  src/common/Cryptography/HmacHash.h
  src/common/Cryptography/RSA.cpp
Labels: Branch-master, Priority-FutureFeatureRequest, Sub-Miscellaneous

#21533 [3.3.5] Transitional Cryptography update for OpenSSL 1.1
  cmake/macros/FindOpenSSL.cmake
  src/common/Cryptography/ARC4.cpp
  src/common/Cryptography/ARC4.h
  src/common/Cryptography/HMACSHA1.cpp
  src/common/Cryptography/HMACSHA1.h
Labels: Branch-3.3.5a, Priority-FutureFeatureRequest, Sub-Miscellaneous

#19962 Core/Player: Implement PvP Talents
  sql/base/characters_database.sql
  sql/updates/characters/master/2018_03_04_00_characters.sql
  sql/updates/hotfixes/master/2018_03_04_00_hotfixes.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/database/Database/Implementation/HotfixDatabase.cpp
  src/server/database/Database/Implementation/HotfixDatabase.h
  src/server/game/DataStores/DB2LoadInfo.h
  src/server/game/DataStores/DB2Stores.cpp
  src/server/game/DataStores/DB2Stores.h
  src/server/game/DataStores/DB2Structure.h
  src/server/game/DataStores/DBCEnums.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/DuelHandler.cpp
  src/server/game/Handlers/SkillHandler.cpp
  src/server/game/Server/Packets/TalentPackets.cpp
  src/server/game/Server/Packets/TalentPackets.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Entities

#21558 Core/Players: implement MOUNT_FLAG_SELF_MOUNT
  src/server/game/DataStores/DB2Structure.h
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-master, Comp-C++Script, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Spells

#20160 Core/Items: PvP item levels basic implementation
  sql/updates/hotfixes/master/2018_03_05_00_hotfixes.sql
  src/server/database/Database/Implementation/HotfixDatabase.cpp
  src/server/database/Database/Implementation/HotfixDatabase.h
  src/server/game/DataStores/DB2LoadInfo.h
  src/server/game/DataStores/DB2Stores.cpp
  src/server/game/DataStores/DB2Stores.h
  src/server/game/DataStores/DB2Structure.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Groups/Group.cpp
Labels: Branch-master, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Entities

#21568 Core/Player: Do not remove auras from Gamemasters in arenas
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Player

#19816 Core/Unit: guardians will enter combat when reaching target
  src/server/game/Entities/Unit/Unit.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Entities

#21600 Core/Battlegrounds: Do not distribute Arena Points if Season is not in progress
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-PvP-Zones

#21645 Core/Channels: Fix channel joins/changes
  src/server/game/Chat/Channels/Channel.cpp
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Channels

#21647 Core/Instances: Fix combat resurrection charge gain
  src/server/game/Instances/InstanceScript.cpp
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-Instances

#21642 Core/Entities: implement CREATURE_FLAG_EXTRA_NO_SELL_VENDOR
  sql/updates/world/3.3.5/2018_03_21_00_world.sql
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Item/ItemDefines.h
  src/server/game/Handlers/ItemHandler.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Entities

#21491 Core/ArenaTeam: Remove queues of members if a character is removed
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Handlers/ArenaTeamHandler.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-PvP-Zones

#21673 README.md grammar improvements
  README.md
Labels: Branch-master, Feedback-PatchFix, Priority-Cosmetic, Sub-Documentation

#21643 [3.3.5] Scripts/Spells: handle auras on unequipping scripted items
  src/server/scripts/Spells/spell_item.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells
