Repository TrinityCore/TrinityCore, pull requests merged in 2018-09, with the labels that each got.

#22320 Scripts/Ulduar: Algalon the Observer fixes
  sql/updates/world/3.3.5/2018_09_01_00_world.sql
  src/server/game/Spells/SpellInfo.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#22363 Scripts/Commands: New argument parsing class
  sql/updates/world/3.3.5/2018_09_07_00_world.sql
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/common/Utilities/advstd.h
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Chat/ChatCommands/ChatCommand.h
  src/server/game/Chat/ChatCommands/ChatCommandArgs.cpp
  src/server/game/Chat/ChatCommands/ChatCommandArgs.h
  src/server/game/Chat/ChatCommands/ChatCommandHelpers.h
  src/server/game/Chat/ChatCommands/ChatCommandHyperlinks.h
  src/server/game/Chat/ChatCommands/ChatCommandTags.h
  src/server/scripts/Commands/cs_go.cpp
  src/server/scripts/Commands/cs_tele.cpp
Labels: Branch-3.3.5a, Comp-Core

#22387 [bfa] Db2 and gt update
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/loadlib/DBFilesClientList.h
Labels: Branch-master, Comp-Core

#22417 [3.3.5] Unify chat link parsing
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/common/Utilities/advstd.h
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Chat/ChatCommands/ChatCommandArgs.cpp
  src/server/game/Chat/ChatCommands/ChatCommandArgs.h
  src/server/game/Chat/ChatCommands/ChatCommandHelpers.h
  src/server/game/Chat/ChatCommands/ChatCommandHyperlinks.cpp
  src/server/game/Chat/ChatCommands/ChatCommandHyperlinks.h
  src/server/game/Chat/ChatCommands/ChatCommandTags.h
  src/server/game/Chat/ChatLink.cpp
  src/server/game/Chat/ChatLink.h
  src/server/game/Chat/HyperlinkTags.cpp
  src/server/game/Chat/Hyperlinks.cpp
  src/server/game/Chat/Hyperlinks.h
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Chat, Sub-Commands

#22427 Core/Spell: Fix Debuff vs Debuff calculation for level scaling Auras
  src/server/game/Spells/SpellInfo.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#22436 Core/Guild: Implement character gender and send in packet.
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Guilds/GuildMgr.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Database, Sub-Miscellaneous

#22389 DB2 Structures
  src/server/game/DataStores/DB2Structure.h
Labels: Branch-master, Comp-Core

#22475 Scripts/TempleOfAhnQiraj: Implement Battleguard Sartura's skip-preven…
  sql/updates/world/3.3.5/2018_09_21_00_world.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_viscidus.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: Comp-C++Script, Sub-Instances

#22474 Scripts/TempleOfAhnQiraj: Despawn Skeram's images on death and fix an…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
Labels: Comp-C++Script, Sub-Instances

#22477 Scripts/MoltenCore: Implement Garr's Firesworn Separation Anxiety mec…
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_garr.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.h
Labels: Comp-C++Script, Sub-Instances

#22513 [WIP] Scripts/Quest: Defending Wyrmrest Temple
  src/server/scripts/Northrend/zone_dragonblight.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Comp-Database, Feedback-PatchFix

#22494 Core/Movement: Speed Limit for Spline
  src/server/game/Movement/Spline/MoveSplineInit.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Movement

#22342 Wintergrasp Fix Collision Wall work: Open / Close collision wall when battle started/ended
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.h
Labels: Comp-C++Script, Feedback-PatchFix, Sub-PvP-Zones

#22469 Fix issue in Creature::UpdateEntry and CMSG_GOSSIP_SELECT_OPTION
  src/server/game/Entities/Creature/Creature.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-ScriptingEngine
