Repository TrinityCore/TrinityCore, pull requests merged in 2019-11, with the labels that each got.

#23893 Core: updated argon2 to latest release
  dep/argon2/CMakeLists.txt
  dep/argon2/argon2/argon2.h
  dep/argon2/argon2/core.c
  dep/argon2/argon2/ref.c
  dep/argon2/argon2/thread.c
  dep/argon2/argon2/thread.h
Labels: Branch-3.3.5a

#23894 Core: updated efsw to newest version
  dep/PackageList.txt
  dep/efsw/.hg_archival.txt
  dep/efsw/CMakeLists.txt
  dep/efsw/README.md
  dep/efsw/include/efsw/efsw.hpp
  dep/efsw/src/efsw/DirWatcherGeneric.cpp
  dep/efsw/src/efsw/FileInfo.cpp
  dep/efsw/src/efsw/FileInfo.hpp
  dep/efsw/src/efsw/FileSystem.cpp
  dep/efsw/src/efsw/FileSystem.hpp
  dep/efsw/src/efsw/FileWatcherCWrapper.cpp
  dep/efsw/src/efsw/FileWatcherFSEvents.cpp
  dep/efsw/src/efsw/FileWatcherFSEvents.hpp
  dep/efsw/src/efsw/FileWatcherGeneric.cpp
  dep/efsw/src/efsw/FileWatcherInotify.cpp
  dep/efsw/src/efsw/FileWatcherInotify.hpp
  dep/efsw/src/efsw/FileWatcherKqueue.cpp
  dep/efsw/src/efsw/FileWatcherWin32.cpp
  dep/efsw/src/efsw/inotify-nosys.h
  dep/efsw/src/efsw/platform/posix/FileSystemImpl.cpp
  dep/efsw/src/efsw/platform/posix/FileSystemImpl.hpp
  dep/efsw/src/efsw/platform/win/FileSystemImpl.cpp
  dep/efsw/src/efsw/platform/win/FileSystemImpl.hpp
Labels: Branch-3.3.5a

#23923 Fixed pets repositioning themselves after every cast
  src/server/game/AI/CoreAI/PetAI.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Movement

#23936 Core/GameObjects: Skip LoS checks for traps
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObjectData.h
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-GameObject, Sub-Spells
