Repository TrinityCore/TrinityCore, pull requests merged in 2019-01, with the labels that each got.

#22877 Scripts/Commands: Fix crash caused by .set npc model
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Commands

#22127 That's Abominable for the 3 other quests, and knockbacks for all.
  sql/updates/world/3.3.5/2019_01_05_00_world_burst.sql
  src/server/scripts/Spells/spell_quest.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#22332 Core/Scripts: Move some spells to scripts
  sql/updates/world/3.3.5/2019_01_05_01_world.sql
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Pet/pet_dk.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#22862 DB/Spell: fix mistake in Blood Draining's CheckProc and remove Attack Power scaling
  sql/updates/world/3.3.5/2019_01_10_00_world.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Comp-Database, Feedback-PatchFix, Sub-Spells

#22918 Scripts/Spells: Fix infinite loop in Power Word Shield
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#22923 Core/Networking: Fix memory leak
  src/server/shared/Networking/SocketMgr.h
Labels: Branch-3.3.5a, Comp-Core, Sub-Miscellaneous

#22891 Core/Objects: increase sight range of objects & correct general default visibility distance
  sql/updates/world/3.3.5/2018_99_99_99_world.sql
  src/common/Utilities/Util.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObjectData.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-GameObject

#22892 Core/Objects: increase sight range of all Infinite, Gigantic and Large objects & correct general default visibility distance
  sql/updates/world/master/2018_99_99_99_world.sql
  src/common/Utilities/Util.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObjectData.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-master, Comp-Core, Feedback-PatchFix, Sub-GameObject

#22981 Travis/CI: Upgrade to xenial image
  .travis.yml
Labels: Branch-3.3.5a, Comp-Build, Feedback-PatchFix, Platform-Linux

#22982 Circle CI
  .circleci/config.yml
  .travis.yml
  contrib/check_updates.sh
Labels: Branch-3.3.5a, Comp-Build, Feedback-PatchFix, Platform-Linux
