Repository TrinityCore/TrinityCore, pull requests merged in 2019-03, with the labels that each got.

#23073 Core/Movement: Allow using walk when chasing v2
  sql/updates/world/3.3.5/2019_03_02_00_world.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/ChaseMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/ChaseMovementGenerator.h
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Creature, Sub-Movement

#23072 Core/GameObject: Set loot state to Not ready when a gob is deactivated
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-GameObject

#23081 Core/Movement: Allow using run when moving randomly
  sql/updates/world/3.3.5/2019_03_03_03_world.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
Labels: Comp-Core, Feedback-PatchFix, Sub-Movement

#23090 Core/Players: Fix logic in CanSeeSpellClickOn
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Creature

#22794 Core/Spell: SpellAura Redux
  sql/updates/world/3.3.5/2019_03_08_00_world.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellScript.h
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: Branch-3.3.5a, Feedback-FixOutdatedMissingWIP, Priority-High, Sub-Spells, help wanted

#23103 Core/Disables: Implement SPELL_DISABLE_ARENAS
  sql/updates/world/3.3.5/2019_03_09_01_world.sql
  src/server/game/Conditions/DisableMgr.cpp
  src/server/game/Conditions/DisableMgr.h
Labels: Branch-3.3.5a

#19289 Core/AuctionHouse: use DisableMgr to disable specific items
  sql/updates/world/3.3.5/2019_03_12_00_world.sql
  src/server/game/AuctionHouseBot/AuctionHouseBot.cpp
  src/server/game/AuctionHouseBot/AuctionHouseBotSeller.cpp
  src/server/game/Conditions/DisableMgr.cpp
  src/server/game/Conditions/DisableMgr.h
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-AH

#23112 Core/SAI: Fix the respawn event for GameObjects
  src/server/game/AI/SmartScripts/SmartAI.cpp
Labels: Comp-Core, Sub-GameObject, Sub-ScriptingEngine

#23117 Check player conditions to enter instance
  src/server/game/Maps/MapManager.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Instances

#23120 Core/GameObject: Remove summoned game objects from the map after call…
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-GameObject

#23122 Scripts/Wailing Caverns: make Disciple of Naralex say Mutanus, not $n
  src/server/scripts/Kalimdor/WailingCaverns/wailing_caverns.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#23119 Core/Item: Item Signature
  src/server/game/Entities/Item/ItemTemplate.cpp
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Miscellaneous

#23108 Core/Conditions: implement CONDITION_GAMEMASTER
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
Labels: Comp-Core, Comp-Database, Sub-Conditions
