Repository TrinityCore/TrinityCore, pull requests merged in 2019-04, with the labels that each got.

#23149 Core/Misc: Warning fixes (/W4)
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Spells/spell_paladin.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Miscellaneous

#23088 Core/Scripts: Fix Blood pool summon and position
  sql/updates/world/3.3.5/2019_04_04_00_world.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix

#23070 Core/Objects: use the actual collision height of players and creatures to get accurate liquid status results
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Maps/MMaps/Vmaps

#23136 Core: VehicleJoinEvent crash fix
  src/server/game/Entities/Vehicle/Vehicle.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Spells, Sub-Vehicles

#22937 Core/Movement: Fix some undermap issues with random movement/fear/blink
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MovementGenerators/ConfusedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/PathGenerator.cpp
  src/server/game/Spells/Spell.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Priority-High, Sub-Maps/MMaps/Vmaps, help wanted

#23157 Core support for breadcrumb quests
  sql/updates/world/3.3.5/2019_04_10_00_world.sql
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Quests/QuestDef.cpp
  src/server/game/Quests/QuestDef.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-Quests

#23176 Better checking for spells class and race fit
  src/server/game/Entities/Player/Player.cpp
Labels: Comp-Core, Feedback-PatchFix

#23181 Core/Social: Separated checks for friend and ignored limits
  src/server/game/Entities/Player/SocialMgr.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Chat, Sub-Player

#18189 Core/Movement: Use time synchronisation to better interpret client timestamps
  src/common/Utilities/Timer.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldPacket.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#23185 Scripts/Spells: Migrate Some Scripted Spells to Scripts
  sql/updates/world/3.3.5/9999_99_99_99_world.sql
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_quest.cpp
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Spells

#23190 Core/conf: conf.dist typo & grammar corrections
  src/server/authserver/authserver.conf.dist
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Miscellaneous

#23201 Scripts/Commands: add some missing checks for .guild create command
  src/server/scripts/Commands/cs_guild.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#23179 Core/Object: Range check
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_gobject.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-FixOutdatedMissingWIP, Sub-GameObject

#23197 Core: Restore reset in EscortAI::InitializeAI
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-ScriptingEngine
