Repository TrinityCore/TrinityCore, pull requests merged in 2019-05, with the labels that each got.

#23228 Scripts/Spells: Fix implementation of #22332
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Pet/pet_dk.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#23226 Core/Object: Range check vol. 2
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/shared/SharedDefines.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-GameObject

#23233 Core/Vehicles: Fix multiple vehicle join events on same seat
  src/server/game/Entities/Vehicle/Vehicle.cpp
  src/server/game/Entities/Vehicle/Vehicle.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Vehicles

#23249 Core/Achievement: correctly credit progress for skill-related achievements when learning a new skill
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a

#23252 Core/Achievement: fix mistake related to ACHIEVEMENT_CRITERIA_TYPE_OWN_ITEM
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Achievements

#23253 Core/Spells: make Four Horsemen debuffs negative
  src/server/game/Spells/SpellInfo.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#23239 Scripts/Icecrown Citadel: The Lich King's Last Stand quest kill credit
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.h
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Quests

#23250 Core/Quest: improve source item deletion logic for items that give quests
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Quests

#23243 Core/Movement: Fix Warrior's Charge launch visual while jumping backw…
  src/server/game/Handlers/MovementHandler.cpp
Labels: Branch-3.3.5a, Feedback-PatchFix, Sub-Movement

#23236 Core/Spells: Return CheckCast result from CastSpell
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#20753 Scripts/Northrend: improvements for quest Get Me Outa Here! (11673)
  sql/updates/world/3.3.5/2019_05_11_08_world.sql
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-FixOutdatedMissingWIP, Sub-Quests

#23273 Core/Creature: equipment_id field on creature table is not working co…
  src/server/game/Entities/Creature/Creature.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Creature

#23260 Core/Spell: add proper cooldowns to some spells used by vehicles
  sql/updates/world/3.3.5/2019_05_17_00_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#23230 Scripts/Blackrock Depths: High Priestess of Thaurissan
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/instance_blackrock_depths.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#23212 Scripts/Zul'Gurub 22974 high priestess marli hatching eggs
  sql/updates/world/3.3.5/2019_05_24_00_world.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_marli.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/zulgurub.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-FixOutdatedMissingWIP, Sub-Instances

#23298 Core/GameObjects: goober gameobjects may reset only if they have a lock id or a reset time specified
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: Comp-Core, Sub-GameObject

#23323 Core/Players: added fixed 5 seconds interval for out of range group updates to match retail behaivior
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#22572 Scripts/Stratholme: Baron Rivendare rewrite
  sql/updates/world/3.3.5/2019_05_31_02_world_335.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/EasternKingdoms/Stratholme/boss_baron_rivendare.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-FixOutdatedMissingWIP
