Repository TrinityCore/TrinityCore, pull requests merged in 2019-02, with the labels that each got.

#22994 Core/Movement: Implement move time skipped handler
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Movement

#23034 3.3.5 threat assert
  src/server/game/Entities/Creature/Creature.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Combat

#23048 Core/Scripts: Change PlayerScript and CreatureScript inheritance
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Branch-3.3.5a, Comp-C++Script, Comp-Core, Sub-ScriptingEngine

#23023 Scripts/Scarlet Enclave: Stable Master Kitrik's spell Repo
  sql/updates/world/3.3.5/2019_02_16_02_world_335.sql
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: Comp-C++Script, Sub-Spells

#23029 Refactor SendSysMessage, SendGlobalSysMessage and SendGlobalGMSysMessage
  src/server/game/Chat/Chat.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Chat

#23061 Core/Units: Only update height in SetHover if unit is bellow HoverHeight
  src/server/game/Entities/Unit/Unit.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Creature

#22198 Scripts/Spells: Glyph of Holy Light
  src/server/scripts/Spells/spell_paladin.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#23069 Core/Movement: Allow using walk when chasing
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/ChaseMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/ChaseMovementGenerator.h
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Branch-3.3.5a, Comp-Core, Sub-Movement
