Repository TrinityCore/TrinityCore, pull requests merged in 2021-04, with the labels that each got.

#26294 Scripts/Quest: Rework 'Basic Orders' (25199)
  sql/updates/world/3.3.5/2021_04_02_06_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Spells/spell_quest.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Comp-Database, Feedback-PatchFix, Sub-Quests, Sub-Spells

#26341 CI/GitHub: Install GCC 8
  .github/workflows/gcc-build.yml
Labels: Branch-3.3.5a

#26326 Core/Maps: Change .map file version from FourCC to uint32
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/tools/map_extractor/System.cpp
  src/tools/mmaps_generator/TerrainBuilder.cpp
Labels: Branch-3.3.5a

#26324 MapExtraction: Fix water height redundancy algorithm ignoring "no water"
  src/common/Collision/Maps/MapDefines.h
  src/server/game/Maps/Map.cpp
  src/tools/map_extractor/System.cpp
  src/tools/mmaps_generator/TerrainBuilder.cpp
Labels: Branch-3.3.5a

#26304 Group repair command attempt
  src/server/scripts/Commands/cs_group.cpp
Labels: Branch-3.3.5a

#26290 Core/Player: Fix output of .additem command with negative count value
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-3.3.5a

#26346 Scripts/Commands: Add ".list auras id <aura id>" and ".list auras name <name part>" subcommands
  src/server/scripts/Commands/cs_list.cpp
Labels: Branch-3.3.5a

#26315 Core/Misc: Define / rename attributes and flags
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/UnitDefines.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: Branch-3.3.5a

#26358 Core/Entities: Move GridObject to its own header
  src/server/game/Entities/Corpse/Corpse.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/DynamicObject/DynamicObject.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Object/GridObject.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/Updates/UpdateMask.h
  src/server/game/Entities/Player/Player.h
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Entities

#26183 Core/Spells: implement SpellInfo helper to filter for relevant mechanic immunities in spell_start packet
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
Labels: Branch-3.3.5a, Feedback-PatchFix

#26359 Scripts/Spells: Update priest spells to modern standards
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26361 Scripts/Spells: Update shaman spells to modern standards
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26365 Scripts/Spells: Update warrior spells to modern standards
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26366 Scripts/Spells: Update hunter spells to modern standards
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26363 Core/Spells: players shouldn't force their orientation (serverside) on each periodictick when channeling
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Spells

#26192 Script/Spells: shaman spells
  sql/updates/world/master/2021_04_11_00_world_shaman_spells.sql
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Branch-master

#26352 Core/Misc: Fixed utf8 encoding in console input/output.
  src/common/Logging/AppenderConsole.cpp
  src/common/Logging/AppenderConsole.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/server/worldserver/CommandLine/CliRunnable.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix

#26223 Core/Spells: Fixed multiple druid's spells
  sql/updates/world/master/2021_04_11_01_world_druid_spells.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master

#26094 Core/Quests: NPC shows player Quest Window for singular Quest
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-master

#26371 Scripts/Violet Hold: Update Cyanigosa to new model
  src/server/scripts/Northrend/VioletHold/boss_cyanigosa.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26369 Scripts/Utgarde Keep: Update Ingvar to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_ingvar_the_plunderer.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26374 Remove unneeded DetourNavMesh.h include from SharedDefines.h
  src/server/shared/SharedDefines.h
Labels: Branch-3.3.5a

#26372 Scripts/VoA: Update remaining scripts to new model
  src/server/scripts/Northrend/VaultOfArchavon/boss_archavon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_emalon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_koralon.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26370 Scripts/Utgarde Pinnacle: Update Gortok Palehoof to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_palehoof.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/utgarde_pinnacle.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26367 Scripts/Zone: Update Feralas zone file
  src/server/scripts/Kalimdor/zone_feralas.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26377 Scripts/Naxxramas: Update Anub'Rekhan to new model
  src/server/scripts/Northrend/Naxxramas/boss_anubrekhan.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26378 Scripts/Naxxramas: Update Faerlina to new model
  src/server/scripts/Northrend/Naxxramas/boss_faerlina.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26379 Scripts/Naxxramas: Update Four Horsemen to new model
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26380 Scripts/Naxxramas: Update Gluth to new model
  src/server/scripts/Northrend/Naxxramas/boss_gluth.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26381 Scripts/Naxxramas: Update Gothik to new model
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26382 Scripts/Naxxramas: Update Grobbulus to new model
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26383 Scripts/Naxxramas: Update Heigan to new model
  src/server/scripts/Northrend/Naxxramas/boss_heigan.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26384 Scripts/Naxxramas: Update Kel'Thuzad to new model
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26385 Scripts/Naxxramas: Update Loatheb to new model
  src/server/scripts/Northrend/Naxxramas/boss_loatheb.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26386 Scripts/Naxxramas: Update Maexxna to new model
  src/server/scripts/Northrend/Naxxramas/boss_maexxna.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26387 Scripts/Naxxramas: Update Noth to new model
  src/server/scripts/Northrend/Naxxramas/boss_noth.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26388 Scripts/Naxxramas: Update Patchwerk to new model
  src/server/scripts/Northrend/Naxxramas/boss_patchwerk.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26389 Scripts/Naxxramas: Update Razuvious to new model
  src/server/scripts/Northrend/Naxxramas/boss_razuvious.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26390 Scripts/Naxxramas: Update Sapphiron to new model
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26391 Scripts/Naxxramas: Update Thaddius to new model
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26392 Scripts: Update Azuregos to new model
  src/server/scripts/Kalimdor/boss_azuregos.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix

#26368 Scripts/Zone: Update Dustwallow Marsh zone file
  sql/updates/world/3.3.5/2021_04_11_55_world_335.sql
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26357 Scripts/Spells: Add script for Salvage Wreckage & update similar scripts
  sql/updates/world/3.3.5/2021_04_13_01_world.sql
  src/server/scripts/Spells/spell_quest.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Spells

#26235 Core/Cheats: Power - set max power on all powers initially + on regenerate
  src/server/game/Entities/Player/Player.cpp
  src/server/scripts/Commands/cs_cheat.cpp
Labels: Branch-master

#26394 Scripts/VoA: Codestyle
  src/server/scripts/Northrend/VaultOfArchavon/boss_archavon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_emalon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_koralon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_toravon.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26395 Scripts/Violet Hold: Update Erekem to new model
  src/server/scripts/Northrend/VioletHold/boss_erekem.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26396 Scripts/Violet Hold: Update Ichoron to new model
  src/server/scripts/Northrend/VioletHold/boss_ichoron.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26397 Scripts/Violet Hold: Update Lavanthor to new model
  src/server/scripts/Northrend/VioletHold/boss_lavanthor.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26398 Scripts/Violet Hold: Update Moragg to new model
  src/server/scripts/Northrend/VioletHold/boss_moragg.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26399 Scripts/Violet Hold: Update Xevozz to new model
  src/server/scripts/Northrend/VioletHold/boss_xevozz.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26400 Scripts/Violet Hold: Update Zuramat to new model
  src/server/scripts/Northrend/VioletHold/boss_zuramat.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26401 Scripts/Violet Hold: Update instance scripts to new model
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26404 Scripts/RazorfenDowns: Fix Belnistrasz Incorrect Usage of GOSSIP_OPTION_QUESTGIVER
  src/server/scripts/Kalimdor/RazorfenDowns/razorfen_downs.cpp
Labels: Branch-3.3.5a

#26405 Scripts/RubySanctum: Fix Xerestrasza Incorrect Usage of GOSSIP_OPTIONQUESTGIVER
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/ruby_sanctum.cpp
Labels: Branch-3.3.5a

#26406 Scripts/Utgarde Pinnacle: Update Skadi to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_skadi.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26407 Scripts/Utgarde Pinnacle: Update Svala to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_svala.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26408 Scripts/Utgarde Pinnacle: Update Ymiron to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_ymiron.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26409 Scripts/Utgarde Keep: Update Keleseth to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_keleseth.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26410 Scripts/Utgarde Keep: Update Skarvald to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_skarvald_dalronn.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26411 Scripts/Utgarde Keep: Update instance scripts to new model
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26413 Scripts/Gundrak: Preparing for updating to new model
  src/server/scripts/Northrend/Gundrak/boss_drakkari_colossus.cpp
  src/server/scripts/Northrend/Gundrak/boss_slad_ran.cpp
  src/server/scripts/Northrend/Gundrak/gundrak.h
  src/server/scripts/Northrend/Gundrak/instance_gundrak.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26414 Scripts/Ahn'kahet: Update Nadox to new model
  src/server/scripts/Northrend/AzjolNerub/Ahnkahet/boss_elder_nadox.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26415 Scripts/Ahn'kahet: Update Taldaram to new model
  src/server/scripts/Northrend/AzjolNerub/Ahnkahet/ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/Ahnkahet/boss_prince_taldaram.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26416 Scripts/BRS: Update scripts to new model (1/3)
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gizrul_the_slavener.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gyth.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_halycon.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_highlord_omokk.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26417 Scripts/BRS: Update scripts to new model (2/3)
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_lord_valthalak.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_mother_smolderweb.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_overlord_wyrmthalak.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_pyroguard_emberseer.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_quartermaster_zigris.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26418 Scripts/BRS: Update scripts to new model (3/3)
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_rend_blackhand.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_shadow_hunter_voshgajin.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_urok_doomhowl.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_warmaster_voone.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26419 Scripts/Outland: Update Kazzak & Doomwalker to new model
  src/server/scripts/Outland/boss_doomlord_kazzak.cpp
  src/server/scripts/Outland/boss_doomwalker.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix

#26420 Scripts/ML: Update Magtheridon to new model
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/magtheridons_lair.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26421 Scripts/HoS: Update Krystallus to new model
  src/server/scripts/Northrend/Ulduar/HallsOfStone/boss_krystallus.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/halls_of_stone.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26422 Scripts/HoL: Update Bjarngrim to new model
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_bjarngrim.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/halls_of_lightning.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26423 Scripts/Oculus: Update Drakos to new model
  src/server/scripts/Northrend/Nexus/Oculus/boss_drakos.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26424 Scripts/Nexus: Update Anomalus to new model
  src/server/scripts/Northrend/Nexus/Nexus/boss_anomalus.cpp
  src/server/scripts/Northrend/Nexus/Nexus/nexus.h
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26425 Scripts/Azjol-Nerub: Preparing for updating to new model
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/azjol_nerub.h
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_anubarak.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26426 Scripts/RubySanctum: Improve Halion boundary
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/instance_ruby_sanctum.cpp
Labels: Branch-3.3.5a

#26360 Build/CMake: Make CONF_DIR show up in CMake GUIs in Unix systems
  cmake/platform/unix/settings.cmake
Labels: Branch-3.3.5a, Comp-Build

#26269 Core/Spells: Implemented SPELL_AURA_SCHOOL_ABSORB_OVERKILL
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Spells/SpellScript.h
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#26448 Core/Creature: Create & use CREATURE_FLAG_EXTRA_IGNORE_FEIGN_DEATH
  sql/updates/world/3.3.5/2021_04_18_55_world.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
Labels: Branch-3.3.5a, Comp-Core, Feedback-PatchFix, Sub-Creature

#26270 Core/Spells: Implement priest holy words + modify cooldown for a charge
  sql/updates/world/master/2021_04_19_00_world_priest_holy_words.sql
  src/server/game/Spells/SpellHistory.cpp
  src/server/game/Spells/SpellHistory.h
  src/server/scripts/Spells/spell_paladin.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_shaman.cpp
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#26429 Scripts/HoL: Update Ionar to new model
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_ionar.cpp
Labels: Branch-3.3.5a

#26431 Scripts/HoL: Update Volkhan to new model
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_volkhan.cpp
Labels: Branch-3.3.5a

#26432 Scripts/HoS: Update Maiden to new model
  src/server/scripts/Northrend/Ulduar/HallsOfStone/boss_maiden_of_grief.cpp
Labels: Branch-3.3.5a

#26433 Scripts/HoS: Update Sjonnir to new model
  src/server/scripts/Northrend/Ulduar/HallsOfStone/boss_sjonnir.cpp
Labels: Branch-3.3.5a

#26434 Scripts/HoS: Update instance scripts to new model
  src/server/scripts/Northrend/Ulduar/HallsOfStone/halls_of_stone.cpp
Labels: Branch-3.3.5a

#26435 Scripts/Gundrak: Update Eck to new model
  src/server/scripts/Northrend/Gundrak/boss_eck.cpp
Labels: Branch-3.3.5a

#26436 Scripts/Gundrak: Update Galdarah to new model
  src/server/scripts/Northrend/Gundrak/boss_gal_darah.cpp
Labels: Branch-3.3.5a

#26437 Scripts/Gundrak: Update Moorabi to new model
  src/server/scripts/Northrend/Gundrak/boss_moorabi.cpp
Labels: Branch-3.3.5a

#26438 Scripts/Nexus: Update Keristrasza to new model
  src/server/scripts/Northrend/Nexus/Nexus/boss_keristrasza.cpp
  src/server/scripts/Northrend/Nexus/Nexus/nexus.h
Labels: Branch-3.3.5a

#26439 Scripts/Nexus: Update Telestra to new model
  src/server/scripts/Northrend/Nexus/Nexus/boss_magus_telestra.cpp
Labels: Branch-3.3.5a

#26440 Scripts/Nexus: Update commanders to new model
  src/server/scripts/Northrend/Nexus/Nexus/boss_nexus_commanders.cpp
Labels: Branch-3.3.5a

#26441 Scripts/Nexus: Update Ormorok to new model
  src/server/scripts/Northrend/Nexus/Nexus/boss_ormorok.cpp
Labels: Branch-3.3.5a

#26442 Scripts/Oculus: Update Eregos to new model
  src/server/scripts/Northrend/Nexus/Oculus/boss_eregos.cpp
Labels: Branch-3.3.5a

#26443 Scripts/Oculus: Update Urom to new model
  src/server/scripts/Northrend/Nexus/Oculus/boss_urom.cpp
Labels: Branch-3.3.5a

#26444 Scripts/Oculus: Update Varos to new model
  src/server/scripts/Northrend/Nexus/Oculus/boss_varos.cpp
Labels: Branch-3.3.5a

#26445 Scripts/Oculus: Update instance scripts to new model
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
Labels: Branch-3.3.5a

#26454 Fix crash when loading Table PlayerChoices
  src/server/game/Globals/ObjectMgr.cpp
Labels: Branch-master

#26276 Core/Items: Calculating item level + organized iterating over items
  src/server/game/Achievements/CriteriaHandler.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Item/Container/Bag.cpp
  src/server/game/Entities/Item/Container/Bag.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/AzeriteHandler.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/InspectHandler.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-master

#26305 Core/Spells: Removed extra health from feed pet
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-master

#26295 Core/Spells: Implemented monk stagger
  sql/updates/world/master/2021_04_22_00_world_monk_stagger.sql
  src/server/scripts/Spells/spell_monk.cpp
Labels: Branch-master

#26458 Scripts/Naxxramas: Slightly update Patchwerk
  src/server/scripts/Northrend/Naxxramas/boss_patchwerk.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26459 Scripts/Naxxramas: Slightly update Grobbulus
  sql/updates/world/3.3.5/2021_04_23_00_world.sql
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
Labels: Branch-3.3.5a, Comp-C++Script, Feedback-PatchFix, Sub-Instances

#26331 Vmap: Introduce skipping of antiportals and unreachable mogp
  src/common/Collision/Maps/MapDefines.h
  src/common/Collision/VMapDefinitions.h
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: Branch-3.3.5a

#26468 Core/Quest: Threat From Above
  sql/updates/world/3.3.5/2021_04_25_00_world.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-3.3.5a

#26476 CI/CircleCI: Switch to Ubuntu 21.04
  .circleci/config.yml
  contrib/Docker/Dockerfile
Labels: Branch-3.3.5a

#26471 Scripts/Mechanar: Update gatewatchers to new model
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_gatewatcher_gyrokill.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_gatewatcher_ironhand.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/mechanar.h
Labels: Branch-3.3.5a

#26470 Scripts/Eye: Update Void Reaver to new model & few misc changes
  src/server/scripts/Outland/TempestKeep/Eye/boss_void_reaver.cpp
  src/server/scripts/Outland/TempestKeep/Eye/the_eye.h
Labels: Branch-3.3.5a

#26469 Scripts/Alterac: Update remaining scripts to new model
  src/server/scripts/EasternKingdoms/AlteracValley/alterac_valley.cpp
  src/server/scripts/EasternKingdoms/AlteracValley/boss_balinda.cpp
  src/server/scripts/EasternKingdoms/AlteracValley/boss_drekthar.cpp
  src/server/scripts/EasternKingdoms/AlteracValley/boss_galvangar.cpp
Labels: Branch-3.3.5a

#26465 Scripts/POS: Update Garfrost to new model
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_forgemaster_garfrost.cpp
Labels: Branch-3.3.5a

#26466 Scripts/POS: Update Tyrannus to new model
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_scourgelord_tyrannus.cpp
Labels: Branch-3.3.5a

#26467 Scripts/POS: Update instance scripts to new model
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
Labels: Branch-3.3.5a

#26464 Scripts/DTK: Update King Dred to new model
  src/server/scripts/Northrend/DraktharonKeep/boss_king_dred.cpp
  src/server/scripts/Northrend/DraktharonKeep/drak_tharon_keep.h
Labels: Branch-3.3.5a

#26334 Core/SAI: Don't set pathid if it's changed after calling script
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: Branch-master

#26375 Core/Entities: Fix conversation data handling
  sql/updates/world/master/2021_04_26_00_world.sql
  src/server/game/Entities/Conversation/Conversation.cpp
  src/server/game/Globals/ConversationDataStore.cpp
  src/server/game/Globals/ConversationDataStore.h
Labels: Branch-master

#26477 Core/Sounds - added missing victory near sound for Arathi Basin (3.3.5)
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
Labels: Branch-3.3.5a
