Repository TrinityCore/TrinityCore, pull requests merged in 2023-04, with the labels that each got.

#28892 Scripts/Paladin: Update Divine Steed for Lightforged Draenei
  src/server/scripts/Spells/spell_paladin.cpp
Labels: Branch-master

#28159 Core/Creature: Added possibility to give creatures multiple gossip menu ids and control them via conditions
  sql/updates/world/master/9999_99_99_00_world.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/NPCHandler.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/World/World.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/shadowfang_keep.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/Kalimdor/HallsOfOrigination/boss_anraphet.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
Labels: Branch-master

#27198 Core/Creature: Implemented sparring with max health percent thresholds
  sql/updates/world/master/2023_04_06_00_world.sql
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Movement/MovementGenerators/HomeMovementGenerator.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
Labels: Branch-master

#28896 Scripts/SilverpineForest: Removed sparring hackfixes
  sql/updates/world/master/2023_04_06_03_world.sql
  src/server/scripts/EasternKingdoms/zone_silverpine_forest.cpp
Labels: Branch-master

#28894 Core/Skinning: Autolearn skill of skinned mob if not already learned
  sql/updates/world/master/2023_04_06_04_world.sql
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Branch-master

#28895 Core/Units: Prevent backward melee attacks
  src/server/game/AI/CoreAI/UnitAI.cpp
Labels: Branch-master

#28834 Core/SAI: Drop waypoints table and move existing rows to waypoint_data table
  sql/updates/world/master/2023_04_08_00_world.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/database/Database/Implementation/WorldDatabase.h
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/World/World.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gizrul_the_slavener.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gyth.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_rend_blackhand.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_nefarian.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
  src/server/scripts/EasternKingdoms/Scholomance/boss_kirtonos_the_herald.cpp
  src/server/scripts/EasternKingdoms/zone_elwynn_forest.cpp
  src/server/scripts/EasternKingdoms/zone_eversong_woods.cpp
  src/server/scripts/EasternKingdoms/zone_silverpine_forest.cpp
  src/server/scripts/Kalimdor/RazorfenDowns/razorfen_downs.cpp
  src/server/scripts/Kalimdor/ZulFarrak/instance_zulfarrak.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_novos.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Northrend/zone_borean_tundra.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/World/areatrigger_scripts.cpp
Labels: Branch-master

#28899 Core/Units: Calculate HoverHeight from model data
  sql/updates/world/master/9999_99_99_99_world.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectMgr.cpp
Labels: Branch-master

#28879 Core/AI: Drop script_waypoints and move data to waypoint_data
  sql/updates/world/master/2023_04_10_00_world_script_waypoints.sql
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptSystem.cpp
  src/server/game/Scripting/ScriptSystem.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/Gnomeregan/gnomeregan.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
  src/server/scripts/EasternKingdoms/ScarletMonastery/boss_herod.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/shadowfang_keep.cpp
  src/server/scripts/Kalimdor/BlackfathomDeeps/blackfathom_deeps.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_kazrogal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_rage_winterchill.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal_trash.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
  src/server/scripts/Kalimdor/RazorfenKraul/razorfen_kraul.cpp
  src/server/scripts/Kalimdor/WailingCaverns/wailing_caverns.cpp
  src/server/scripts/Kalimdor/zone_ashenvale.cpp
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
  src/server/scripts/Kalimdor/zone_bloodmyst_isle.cpp
  src/server/scripts/Kalimdor/zone_the_barrens.cpp
  src/server/scripts/Kalimdor/zone_winterspring.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_argent_challenge.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_black_knight.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_grand_champions.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sister_svalna.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/halls_of_stone.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
  src/server/scripts/Northrend/zone_grizzly_hills.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_ambassador_hellmaw.cpp
  src/server/scripts/Outland/zone_nagrand.cpp
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
  src/server/scripts/World/npcs_special.cpp
Labels: Branch-master

#28914 Core/Quest: fix typo with raid quests
  src/server/game/Entities/Player/Player.cpp
Labels: Feedback-PatchFix, Branch-master

#28884 Change Map::Visit to not call EnsureGridLoaded if cell.NoCreate is true
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
Labels: Feedback-PatchFix, Branch-3.3.5a

#28908 Core/GameObjects: Allow certain types to be sent to the client without display
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObjectData.h
Labels: Branch-master

#28927 Core/Spells: Unify Bloodlust spells for all classes
  sql/updates/world/master/2023_04_16_01_world.sql
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/scripts/Spells/spell_mage.cpp
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Branch-master

#28920 Scripts/Underrot: Implement Elder Leaxa encounter
  sql/updates/world/master/2023_04_17_00_world.sql
  src/server/scripts/Zandalar/Underrot/boss_elder_leaxa.cpp
  src/server/scripts/Zandalar/Underrot/instance_underrot.cpp
  src/server/scripts/Zandalar/Underrot/underrot.h
  src/server/scripts/Zandalar/zandalar_script_loader.cpp
Labels: Branch-master

#28922 Spells/Priest: Update Sins of the Many values
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#28907 Core/Spell: Implement Summon Sayaad
  sql/updates/world/master/2023_04_23_00_world.sql
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/PetDefines.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: Branch-master

#28923 Spells/Priest: Update Divine Star
  sql/updates/world/master/2023_04_23_01_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#28933 Scripts/Trial Of The Crusader: Fix application of spell Surge of Adrenaline (Icehowl)
  sql/updates/world/3.3.5/2023_04_25_00_world.sql
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_northrend_beasts.cpp
Labels: Branch-3.3.5a

#28934 Scripts/Underrot: Implement Cragmaw the Infested encounter
  sql/updates/world/master/2023_04_25_01_world.sql
  src/server/scripts/Zandalar/Underrot/boss_cragmaw_the_infested.cpp
  src/server/scripts/Zandalar/Underrot/instance_underrot.cpp
  src/server/scripts/Zandalar/Underrot/underrot.h
  src/server/scripts/Zandalar/zandalar_script_loader.cpp
Labels: Branch-master
