Repository TrinityCore/TrinityCore, pull requests merged in 2023-08, with the labels that each got.

#29172 Scripts/Spells: fix Rupture, Eviscerate, Envenom, Slice and Dice
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#29177 Scripts/Druid: Implement Abundance and Cultivation
  sql/updates/world/master/2023_08_04_00_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master

#29030 Spells/Priest: Implement Answered Prayers
  sql/updates/world/master/2023_08_06_00_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29034 Spells/Priest: Implement Divine Image
  sql/updates/world/master/2023_08_10_00_world.sql
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29169 Scripts/Priest: Implement Epiphany and update Prayer of Mending's related talents
  sql/updates/world/master/2023_08_10_01_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29170 Scripts/Priest: Implement Atonement (Passive), Power Leech (Passive) and Essence Devourer
  sql/updates/world/master/2023_08_11_01_world.sql
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29174 Scripts/Generic: Unify major healing cooldown CDs modifiers for all classes
  sql/updates/world/master/2023_08_13_00_world.sql
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29178 Scripts/Druid: Implement Germination and Luxuriant Soil
  sql/updates/world/master/2023_08_13_02_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master, Needs testing

#29236 ZoneScript: Add hook for AreaTrigger creation/deletion
  src/server/game/Entities/AreaTrigger/AreaTrigger.cpp
  src/server/game/Maps/ZoneScript.h
Labels: Branch-master

#29211 Scripts/Mardum: Implement DH intro event
  sql/updates/world/master/2023_08_16_00_world.sql
  src/server/scripts/BrokenIsles/broken_isles_script_loader.cpp
  src/server/scripts/BrokenIsles/zone_mardum.cpp
Labels: Branch-master

#29173 Scripts/Druid: Update Wild Growth
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master

#29250 License: Restore long lost OpenSSL exception
  COPYING
Labels: Branch-master

#29176 Scripts/Druid: Implement Efflorescence and Spirit Blossoms
  sql/updates/world/master/2023_08_19_02_world.sql
  src/server/game/Spells/SpellInfo.cpp
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master

#29183 Refactor and modernize EventMap
  src/common/Utilities/EventMap.cpp
  src/common/Utilities/EventMap.h
Labels: Branch-3.3.5a

#29184 Scripts/Druid: Implement Power of the Archdruid
  sql/updates/world/master/2023_08_20_01_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master, Needs testing

#29185 Scripts/Druid: Implement Embrace of the Dream
  sql/updates/world/master/2023_08_20_02_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master, Needs testing

#29186 Scripts/Druid: Implement Inner Peace
  sql/updates/world/master/2023_08_20_03_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master, Needs testing

#29189 Spells/Paladin: Implement Ardent Defender
  sql/updates/world/master/2023_08_20_04_world.sql
  src/server/scripts/Spells/spell_paladin.cpp
Labels: Branch-master

#29192 Spells: Implement target threshold sqrt aoe reduction
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellDefines.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
Labels: Branch-master

#29249 GameObjects: Mark some pvp related gameobjects as active
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: Branch-master

#29237 Scripts/AreaTrigger: Add Scripts for CaptureFlag action
  src/server/game/Maps/ZoneScript.h
  src/server/scripts/World/areatrigger_scripts.cpp
Labels: Branch-master

#29198 Core/Auras: Implement SPELL_ATTR8_PERIODIC_CAN_CRIT
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Miscellaneous/enuminfo_SharedDefines.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: Branch-master

#29200 Core/Battlegrounds: Rework queues
  sql/base/characters_database.sql
  sql/updates/characters/master/2023_08_26_00_characters.sql
  sql/updates/world/master/2023_08_26_00_world.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Battlegrounds/Arena.cpp
  src/server/game/Battlegrounds/Arena.h
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
  src/server/game/Battlegrounds/Zones/BattlegroundEY.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundIC.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundIC.h
  src/server/game/Battlegrounds/Zones/BattlegroundSA.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundSA.h
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Events/GameEventMgr.h
  src/server/game/Groups/Group.cpp
  src/server/game/Groups/Group.h
  src/server/game/Handlers/BattleGroundHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: Branch-master

#29201 Spells/Rogue: Implement Cheat death
  sql/updates/world/master/2023_08_26_01_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#29205 Spells/Rogue: Implement Blackjack talent
  sql/updates/world/master/2023_08_26_02_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#29206 Spells/Rogue: Implement Prey on the weak talent
  sql/updates/world/master/2023_08_26_03_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#29212 Scripts/Priest: Implement Evangelism
  sql/updates/world/master/2023_08_26_04_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master, Needs testing

#29214 Scripts/Priest: Implement Abyssal Reverie
  sql/updates/world/master/2023_08_27_00_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master, Needs testing

#29217 Scripts/Druid: Fix validation of spells in spell_druid
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master

#29218 Scripts/Priest: Implement Holy Word: Salvation
  sql/updates/world/master/2023_08_28_00_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29226 Scripts/Priest: Unify Atonement and Trinity appliance
  sql/updates/world/master/2023_08_28_01_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29228 Scripts/Priest: Update Power Word: Shield
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29247 Core/Battlegrounds: Warsong gulch
  sql/updates/world/master/2023_08_29_00_world.sql
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundEY.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-master

#29285 Scripts/Draenor: Implement scene script for quest 34420 and handle ph…
  sql/updates/world/master/2023_08_29_01_world.sql
  src/server/scripts/Draenor/draenor_script_loader.cpp
  src/server/scripts/Draenor/zone_assault_on_the_dark_portal.cpp
Labels: Branch-master

#29281 Core/Creature: Allow creature table to override npc- and unitflags to 0
  sql/updates/world/master/2023_08_29_02_world.sql
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
Labels: Branch-master

#29293 Scripts/Trial of the Crusader: Update Read and Write Save Data
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
Labels: Branch-3.3.5a

#29295 Core/Maps: Add assault on the dark portal map split by faction
  src/server/game/DataStores/DB2Structure.h
Labels: Branch-master

#29277 Core/AreaTriggers: Added SpellForVisual for db spawned areatriggers
  sql/updates/world/master/2023_08_31_01_world.sql
  src/server/game/Entities/AreaTrigger/AreaTrigger.cpp
  src/server/game/Entities/AreaTrigger/AreaTriggerTemplate.h
  src/server/game/Globals/AreaTriggerDataStore.cpp
Labels: Branch-master

#29235 Spells/Warrior: Implement strategist talent
  sql/updates/world/master/2023_08_31_02_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master
