Repository TrinityCore/TrinityCore, pull requests merged in 2023-06, with the labels that each got.

#28965 Core/Graveyards: Drop Faction column and replace it with conditions
  sql/updates/world/master/2023_06_01_01_world.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/database/Database/Implementation/WorldDatabase.h
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPZM.cpp
Labels: Branch-master

#29031 Spells/Priest: Implement Holy Mending
  sql/updates/world/master/2023_06_03_02_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29038 Spells/Priest: Implement Healing Chorus
  sql/updates/world/master/2023_06_04_00_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29036 Spells/Priest: Implement Empowered Renew
  sql/updates/world/master/2023_06_04_01_world.sql
  src/server/game/Spells/Auras/SpellAuraEffects.h
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29068 Core/Config: Implement reading config overrides from subdirectory
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/server/bnetserver/CMakeLists.txt
  src/server/bnetserver/Main.cpp
  src/server/worldserver/CMakeLists.txt
  src/server/worldserver/Main.cpp
Labels: Branch-master

#29069 Core/Commands: Fix crash in .character SysMessages with GUID
  src/server/scripts/Commands/cs_character.cpp
Labels: Branch-master

#28831 Proper assignment of quest loot for group loot & round robin
  src/server/game/Loot/Loot.cpp
  src/server/game/Loot/Loot.h
  src/server/game/Loot/LootItemStorage.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#29073 Core/Players: Fix inactive reward quests on faction change
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Handlers/CharacterHandler.cpp
Labels: Branch-3.3.5a

#29041 Core/Creatures: Drop dynamic flags from creature_template
  sql/updates/world/master/2023_06_18_01_world.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
Labels: Branch-master

#29084 Scripts/DK: Fix Festering Strike
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#29019 Scripts/Exile's Reach: Ship both factions
  sql/updates/world/master/2023_06_21_00_world.sql
  src/server/scripts/ExilesReach/exiles_reach_script_loader.cpp
  src/server/scripts/ExilesReach/zone_exiles_reach.cpp
Labels: Branch-master

#29085 Core/Spells: Implemented target type TARGET_DEST_TARGET_TOWARDS_CASTER (TARGET_UNK_148)
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.cpp
Labels: Branch-master

#29093 Core/Spells: Fix evoker talent Pyre (Red)
  sql/updates/world/master/2023_06_24_00_world.sql
  src/server/scripts/Spells/spell_evoker.cpp
Labels: Branch-master

#29025 Core/SAI: Fix event SMART_EVENT_WAYPOINT_ENDED
  sql/updates/world/master/2023_06_24_01_world.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: Branch-master

#29101 Core/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: Branch-master

#29100 Core/Spells: Fix Death Pact
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#29099 Scripts/Hunter: Implement Rapid Fire
  sql/updates/world/master/2023_06_27_00_world.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Branch-master

#29097 Core/Spells: Fix shaman talent Ascendance (restoration)
  sql/updates/world/master/2023_06_27_02_world.sql
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Branch-master

#29086 Core/Conversation: Implemented OnConversationStart and OnConversation…
  src/server/game/Entities/Conversation/Conversation.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Branch-master

#29098 Modernize some pointers and arrays in player class
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: Branch-master

#29029 Core/Creatures: Implement CREATURE_STATIC_FLAG_4_IGNORE_LOS_WHEN_CASTING_ON_ME
  sql/updates/world/master/2023_06_28_01_world.sql
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: Branch-master

#29111 Core/Spells: Implement Deeply Rooted Elements
  sql/updates/world/master/2023_06_30_00_world.sql
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Branch-master
