Repository TrinityCore/TrinityCore, pull requests merged in 2024-01, with the labels that each got.

#29507 Darkspear Training Grounds
  sql/updates/world/master/2024_01_01_00_world.sql
  src/server/scripts/Kalimdor/zone_durotar.cpp
Labels: Branch-master

#29519 Rockjaw Invader Spawning, Coldridge Valley WIP
  sql/updates/world/master/2024_01_01_01_world.sql
  src/server/scripts/EasternKingdoms/zone_dun_morogh_area_coldridge_valley.cpp
Labels: Branch-master

#29542 Scripts/DunMorogh: Implement Quest "Decontamination"
  sql/updates/world/master/2024_01_01_02_world.sql
  src/server/scripts/EasternKingdoms/zone_dun_morogh.cpp
Labels: Branch-master

#29530 Battlegrounds/AlteracValley: Rework
  sql/updates/world/master/2024_01_01_04_world.sql
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/EasternKingdoms/AlteracValley/alterac_valley.cpp
Labels: Branch-master

#29547 Scripts/Stormwind: Implement Quest "Nation Of KulTiras"
  sql/updates/world/master/2024_01_02_00_world.sql
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
Labels: Branch-master

#29544 Core/Maps: restored a hack in gridmap liquid status code
  src/server/game/Maps/GridMap.cpp
Labels: Branch-master

#29545 Core/Maps: implement LIQUID_MAP_OCEAN_FLOOR
  src/common/Collision/Maps/MapDefines.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Maps/GridMap.cpp
  src/server/game/Maps/TerrainMgr.cpp
Labels: Branch-master

#29554 Scripts/Bloodmyst isle: add missing Legoso Talk to $n pointer
  src/server/scripts/Kalimdor/zone_bloodmyst_isle.cpp
Labels: Branch-3.3.5a

#29506 Core/Waypoints: Refactor to split data into path and node related inf…
  sql/base/auth_database.sql
  sql/updates/auth/master/2024_01_05_00_auth.sql
  sql/updates/world/master/2024_01_05_00_world_waypoint_path.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/database/Database/Implementation/WorldDatabase.h
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Accounts/RBAC.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.h
  src/server/game/Movement/Waypoints/WaypointDefines.h
  src/server/game/Movement/Waypoints/WaypointManager.cpp
  src/server/game/Movement/Waypoints/WaypointManager.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Commands/cs_wp.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockCaverns/blackrock_caverns.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_general_bjarngrim.cpp
Labels: Branch-master

#29550 Scripts/Draenor: Implemented Garrison V1 Alliance enter/exit
  sql/updates/world/master/2024_01_05_01_world.sql
  src/server/scripts/Draenor/Garrison/garrison_generic.cpp
  src/server/scripts/Draenor/draenor_script_loader.cpp
Labels: Branch-master

#29571 Update boss_cthun.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: Branch-3.3.5a

#29551 Core/Spells: Added option to override orientation for TARGET_DEST_DB
  sql/updates/world/master/2024_01_08_01_world.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: Branch-master

#29114 Core/Creatures: Added possibility to automatically despawn personal s…
  sql/updates/world/master/2024_01_08_02_world.sql
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_quest.cpp
Labels: Branch-master

#29566 Scripts/Boralus: Implement Quest "Get Your Bearings"
  sql/updates/world/master/2024_01_09_03_world.sql
  src/server/scripts/KulTiras/kultiras_script_loader.cpp
  src/server/scripts/KulTiras/zone_boralus.cpp
Labels: Branch-master

#29552 Core/Conversation: Implemented conversation flags
  sql/updates/world/master/2024_01_09_04_world.sql
  src/server/game/Entities/Conversation/Conversation.cpp
  src/server/game/Globals/ConversationDataStore.cpp
  src/server/game/Globals/ConversationDataStore.h
Labels: Branch-master

#29540 Exiles Reach Down with the Quilboar and Forbidden Quilboar Necromancy Quest
  sql/updates/world/master/2024_01_09_05_world.sql
  src/server/scripts/ExilesReach/zone_exiles_reach.cpp
Labels: Branch-master

#29584 Core/Units: moved health and power ordering predicates from Unit into CommonPredicates
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Miscellaneous/CommonPredicates.cpp
  src/server/game/Miscellaneous/CommonPredicates.h
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_paladin.cpp
Labels: Branch-master

#29586 Core/Creatures: fixed an inverted logic that was falsely causing creatures without any loot to despawn instantly
  src/server/game/Entities/Creature/Creature.cpp
Labels: Branch-master

#29589 Fix issue with quest Stand your Ground.
  src/server/scripts/ExilesReach/zone_exiles_reach.cpp
Labels: Branch-master

#29553 Vol'jins Visions
  sql/updates/world/master/2024_01_17_00_world.sql
  src/server/scripts/Kalimdor/zone_durotar.cpp
Labels: Branch-master

#29585 Core/Object: use the final keyword for several (World)Object classes
  src/server/game/Entities/AreaTrigger/AreaTrigger.h
  src/server/game/Entities/Conversation/Conversation.h
  src/server/game/Entities/Corpse/Corpse.h
  src/server/game/Entities/DynamicObject/DynamicObject.h
  src/server/game/Entities/Item/AzeriteItem/AzeriteEmpoweredItem.h
  src/server/game/Entities/Item/AzeriteItem/AzeriteItem.h
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/SceneObject/SceneObject.h
  src/server/game/Entities/Totem/Totem.h
  src/server/game/Entities/Transport/Transport.h
  src/server/game/Entities/Vehicle/Vehicle.h
Labels: Branch-master

#29604 Scripts/Baradin Hold: rewrite Argaloth encounter
  sql/updates/world/master/2024_01_22_00_world.sql
  src/server/scripts/EasternKingdoms/BaradinHold/baradin_hold.h
  src/server/scripts/EasternKingdoms/BaradinHold/boss_alizabal.cpp
  src/server/scripts/EasternKingdoms/BaradinHold/boss_argaloth.cpp
  src/server/scripts/EasternKingdoms/BaradinHold/boss_occuthar.cpp
  src/server/scripts/EasternKingdoms/BaradinHold/boss_pit_lord_argaloth.cpp
  src/server/scripts/EasternKingdoms/BaradinHold/instance_baradin_hold.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: Branch-master

#29600 .account set seclevel command will update security level for online sessions
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/scripts/Commands/cs_account.cpp
Labels: Branch-3.3.5a

#29602 Core/Loot: implemented a custom server option to disable AE loot
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-master

#29615 Core/World: Fixed crash when shutting down server from console
  src/server/game/World/World.cpp
Labels: Branch-master

#29570 Core/PacketIO: Implemented CMSG_BUSY_TRADE and CMSG_IGNORE_TRADE
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/TradeHandler.cpp
  src/server/game/Server/WorldSession.h
Labels: Branch-3.3.5a

#29539 Core/Packets: Handle QueryCountdownTimer
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Groups/Group.cpp
  src/server/game/Groups/Group.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Server/Packets/MiscPackets.cpp
  src/server/game/Server/Packets/MiscPackets.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
Labels: Branch-master

#29575 The Scout-o-Matic 5000 and The Choppy Booster Mk. 5 Quest
  sql/updates/world/master/2024_01_26_00_world.sql
  src/server/scripts/ExilesReach/zone_exiles_reach.cpp
Labels: Branch-master

#29576 Battlegrounds/StrandOfTheAncients: Rework
  sql/updates/world/master/2024_01_27_00_world.sql
  src/server/game/Battlegrounds/Zones/BattlegroundSA.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundSA.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Northrend/StrandOfTheAncients/strand_of_the_ancients.cpp
  src/server/scripts/Northrend/northrend_script_loader.cpp
Labels: Branch-master

#29622 Scripts/Boralus: Implement Quest "The Old Knight"
  sql/updates/world/master/2024_01_27_01_world.sql
  src/server/scripts/KulTiras/zone_boralus.cpp
Labels: Branch-master

#29630 Spells/Priest: Protective Light Aura
  sql/updates/world/master/2024_01_29_00_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29631 Spells/Priest: From Darkness Comes Light Aura
  sql/updates/world/master/2024_01_29_01_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#29636 Scripts/Boralus: Implement Quest "Sanctum of the Sages""
  sql/updates/world/master/2024_01_29_02_world.sql
  src/server/scripts/KulTiras/zone_boralus.cpp
Labels: Branch-master

#29634 Core/Auras: updated spell aura flags and implemented AFLAG_CANCELABLE and AFLAG_PASSIVE
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: Branch-wotlk_classic
