Repository TrinityCore/TrinityCore, pull requests merged in 2024-11, with the labels that each got.

#30216 Scripts/Spells: Fix warlock Demonbolt energize
  sql/updates/world/master/2024_11_03_00_world.sql
  src/server/scripts/Spells/spell_warlock.cpp
Labels: Branch-master

#30401 Core/Quests: Fix QuestGiverStatus for QUEST_TYPE_TURNIN
  src/server/game/Entities/Player/Player.cpp
Labels: Branch-master

#30391 Core/Summons: Handle summons using SummonProperties.Control type 5 as vehicles
  src/server/game/AI/CreatureAI.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-master

#30381 Spells/Scripts: Implement Rogue Poisoned Knife talent
  sql/updates/world/master/2024_11_05_00_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#30406 Core/Worgen race creation fix
  src/server/game/Miscellaneous/RaceMask.h
Labels: Branch-cata_classic

#30410 Core/Auras: Implement SPELL_AURA_MOD_ARMOR_PENETRATION_PCT, reused on…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: Branch-master

#30405 Spells/Rogue: Implement Soothing Darkness talent
  sql/updates/world/master/2024_11_08_06_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#30390 Core/Spells: Define some new proc flags
  src/server/game/Spells/SpellMgr.h
Labels: Branch-master

#30375 Scripts/Spells: Implement Rogue Airborne Irritant talent
  sql/updates/world/master/2024_11_09_00_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#30376 Scripts/Spells: Implement Rogue Acrobatic Strikes talent
  sql/updates/world/master/2024_11_09_03_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#30369 Spells/Monk: Fix Rising Sun Kick heal reduction on Windwalker spec
  sql/updates/world/master/2024_11_09_04_world.sql
  src/server/scripts/Spells/spell_monk.cpp
Labels: Branch-master

#30440 Core/Handlers: Fix logic error in HandleAuctionRemoveItem
  src/server/game/Handlers/AuctionHouseHandler.cpp
Labels: Branch-master

#30422 Core/Spells: Allow persistent area auras to apply all of their effects upon creation.
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-3.3.5a

#30415 Core/Spells: Fix custom load screen for SPELL_EFFECT_TELEPORT_UNITS
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Spells/SpellEffects.cpp
Labels: Branch-master

#30432 Scripts/PitOfSaron: Update Ick's reaction state during Explosive Barrage
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_krickandick.cpp
Labels: Branch-3.3.5a

#30428 Scripts/Forge of Souls: Ensure that Bronjahm teleport is executed when entering the second phase
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/boss_bronjahm.cpp
Labels: Branch-3.3.5a

#30250 Spells/DK: Fix proc of Frost Fever
  sql/updates/world/master/2024_11_17_00_world.sql
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#30242 Spells/DK: Fix talent Subduing Grasp
  sql/updates/world/master/2024_11_17_01_world.sql
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#30236 Spells/DK: Implement talent Soul Reaper
  sql/updates/world/master/2024_11_17_02_world.sql
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#30444 Core/Unit: Fix DualWield Off-hand hit penalty
  src/server/game/Entities/Unit/Unit.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#30460 Remove non-portable hack of including `<__msvc_chrono.hpp>`
  src/common/Utilities/Duration.h
Labels: Branch-master

#30457 Misc/Config: Update CharacterCreating.Disabled.RaceMask and ClassMask
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-master

#30378 Scripts/Spells: Fix Rogue Stealth with cleanup for dropped spells and…
  sql/updates/world/master/2024_11_24_00_world.sql
  src/server/scripts/Spells/spell_rogue.cpp
Labels: Branch-master

#30238 Spells/DK: Fix talent Cleaving Strikes
  sql/updates/world/master/2024_11_24_01_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#30459 Scripts/StormwindCity: Implement quest "The King's Command" (29547)
  sql/updates/world/master/2024_11_27_03_world.sql
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
Labels: Branch-master

#30466 Core/Player: Add config for starting money for Death Knight characters.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: Branch-3.3.5a

#30439 Spells/Evoker: Fix Verdant Embrace talent
  sql/updates/world/master/2024_11_29_01_world.sql
  src/server/scripts/Spells/spell_evoker.cpp
Labels: Branch-master

#30468 Spells/DH: Implement talent "Tactical Retreat"
  sql/updates/world/master/2024_11_30_00_world.sql
  src/server/scripts/Spells/spell_dh.cpp
Labels: Branch-master
