Repository TrinityCore/TrinityCore, pull requests merged in 2024-07, with the labels that each got.

#30062 Core/Spells: Fixed possible use after free with deleted focusObject
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: Branch-3.3.5a

#29996 Scripts/Battlegrounds: Implement Seething shore
  sql/updates/world/master/2024_07_10_00_world.sql
  src/server/scripts/Battlegrounds/SeethingShore/battleground_seething_shore.cpp
  src/server/scripts/Battlegrounds/battlegrounds_script_loader.cpp
Labels: Branch-master

#29846 Scripts/Wandering isle: Handle quest 29414 (The way of the Tushui)
  sql/updates/world/master/2024_07_10_01_world.sql
  src/server/scripts/Pandaria/zone_the_wandering_isle.cpp
Labels: Branch-master

#30079 Core/Instances: Fix not being able to resurect at the instance entrance under certain conditions.
  src/server/game/Maps/MapManager.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#30084 Core/GroupHander: Check if player is in a group for `CMSG_REQUEST_PARTY_MEMBER_STATS` before providing data.
  src/server/game/Handlers/GroupHandler.cpp
Labels: Branch-3.3.5a

#30086 Scripts/WaycrestManor: Implement Lord and Lady Waycrest encounter
  sql/updates/world/master/2024_07_18_00_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/KulTiras/WaycrestManor/boss_lord_and_lady_waycrest.cpp
  src/server/scripts/KulTiras/WaycrestManor/instance_waycrest_manor.cpp
  src/server/scripts/KulTiras/WaycrestManor/waycrest_manor.h
  src/server/scripts/KulTiras/kultiras_script_loader.cpp
Labels: Branch-master

#30102 Core/Vehicle: Fix an assertion when installing a vehicle through aura
  src/server/game/Entities/Vehicle/Vehicle.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: Branch-master

#30072 Core/AreaTriggers: Added ActionSet flags for serverside areatriggers
  sql/updates/world/master/2024_07_19_00_world.sql
  src/server/game/Achievements/CriteriaHandler.cpp
  src/server/game/DataStores/DBCEnums.h
  src/server/game/Entities/AreaTrigger/AreaTrigger.cpp
  src/server/game/Entities/AreaTrigger/AreaTrigger.h
  src/server/game/Entities/AreaTrigger/AreaTriggerTemplate.cpp
  src/server/game/Entities/AreaTrigger/AreaTriggerTemplate.h
  src/server/game/Globals/AreaTriggerDataStore.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Handlers/MiscHandler.cpp
Labels: Branch-master

#30069 Scripts/Spells: Implemented Priest talent Shadow Word: Death
  sql/updates/world/master/2024_07_19_01_world.sql
  src/server/scripts/Spells/spell_priest.cpp
Labels: Branch-master

#30076 Scripts/WanderingIsle: Implement quest 29523
  sql/updates/world/master/2024_07_22_00_world.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: Branch-master

#30088 Core/Units: unify power regeneration handling
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: Branch-cata_classic

#30074 Scripts/Waycrest Manor: Implement Soulbound Goliath encounter (all difficulties)
  sql/updates/world/master/2024_07_30_00_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/KulTiras/WaycrestManor/boss_soulbound_goliath.cpp
  src/server/scripts/KulTiras/WaycrestManor/instance_waycrest_manor.cpp
  src/server/scripts/KulTiras/WaycrestManor/waycrest_manor.cpp
  src/server/scripts/KulTiras/WaycrestManor/waycrest_manor.h
  src/server/scripts/KulTiras/kultiras_script_loader.cpp
Labels: Branch-master

#30126 fix nopch build for msvc compilers
  src/common/Logging/AppenderConsole.cpp
Labels: Branch-master
