Repository TrinityCore/TrinityCore, pull requests merged in 2025-06, with the labels that each got.

#31018 DB/Dungeons: Add instance portals for Cata dungeons
  sql/updates/world/master/2025_06_01_00_world.sql
Labels: Branch-master

#31019 DB/Dungeons: Add instance portals for MoP dungeons
  sql/updates/world/master/2025_06_01_01_world.sql
Labels: Branch-master

#31020 Spells/Warrior: Fix shockwave
  sql/updates/world/master/2025_06_02_01_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31017 Spells/Warrior: Fix warrior charge
  sql/updates/world/master/2025_06_05_00_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31033 DB/Dungeons: Add instance portals for Legion dungeons
  sql/updates/world/master/2025_06_06_01_world.sql
Labels: Branch-master

#31030 Scripts/Spells: Implement monk talent Mists of Life
  sql/updates/world/master/2025_06_06_02_world.sql
  src/server/scripts/Spells/spell_monk.cpp
Labels: Branch-master

#31028 Script/Spells: remove Sudden Death SpellScript
  sql/updates/world/master/2025_06_06_03_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31042 DB/Proc: Add Hack and Slash proc data
  sql/updates/world/master/2025_06_07_01_world.sql
Labels: Branch-master

#31041 Scripts/Spells: Make rampage trigger enrage
  sql/updates/world/master/2025_mm_dd_xx_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31038 Scripts/Spells: Implement Raging Blow Cooldown Reset talents
  sql/updates/world/master/2025_06_08_01_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31044 Scripts/RubySanctum: Modernize Halion script
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/ruby_sanctum.h
Labels: Feedback-PatchFix, Branch-3.3.5a

#31045 Scripts/Spells: Correctly handle enrage on rampage & bloodthirst
  sql/updates/world/master/2025_06_08_02_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31052 Scripts/RubySanctum: Modernize scripts
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_baltharus_the_warborn.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_general_zarithrian.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_saviana_ragefire.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/ruby_sanctum.cpp
Labels: Branch-3.3.5a

#30766 Core/Unit: Pet Teleport on the same map fix
  src/server/game/Entities/Unit/Unit.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#31051 DB/Procs: Add proc data for Bloodcraze
  sql/updates/world/master/2025_06_09_04_world.sql
Labels: Branch-master

#31026 Scripts/Botanica: Modernize scripts
  src/server/scripts/Outland/TempestKeep/botanica/boss_commander_sarannis.cpp
  src/server/scripts/Outland/TempestKeep/botanica/boss_high_botanist_freywinn.cpp
  src/server/scripts/Outland/TempestKeep/botanica/boss_laj.cpp
  src/server/scripts/Outland/TempestKeep/botanica/boss_warp_splinter.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#31036 Scripts/MagistersTerrace: Update scripts
  sql/updates/world/3.3.5/2025_06_10_00_world.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_selin_fireheart.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_vexallus.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
Labels: Feedback-PatchFix, Branch-3.3.5a

#31024 Scripts/ManaTombs: Update scripts
  sql/updates/world/3.3.5/2025_06_10_01_world.sql
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_nexusprince_shaffar.cpp
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_pandemonius.cpp
  src/server/scripts/Outland/Auchindoun/ManaTombs/mana_tombs.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#31014 Scripts/HellfireRamparts: Update scripts
  sql/updates/world/3.3.5/2025_06_10_03_world.sql
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_omor_the_unscarred.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_vazruden_the_herald.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_watchkeeper_gargolmar.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/hellfire_ramparts.h
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/instance_hellfire_ramparts.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#30925 Scripts/Spells: Get rid of some database spell scripts
  sql/updates/world/3.3.5/2025_06_10_05_world.sql
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#31048 Scripts/Spells: Implement monk talent Keg Smash target limit
  src/server/game/Spells/SpellMgr.cpp
Labels: Branch-master

#31049 Scripts/Spells: Implement hunter talent Precise Shots
  sql/updates/world/master/2025_06_12_00_world.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Branch-master

#30937 Scripts/The Stonevault: Implement Skarmorak encounter
  sql/updates/world/master/2025_06_14_00_world.sql
  src/server/scripts/KhazAlgar/TheStoneVault/boss_skarmorak.cpp
  src/server/scripts/KhazAlgar/khaz_algar_script_loader.cpp
Labels: Branch-master

#31063 Scripts/DalaranLegion: Implement aura to handle Orderhall Campaign Intro
  sql/updates/world/master/2025_06_14_01_world.sql
  src/server/scripts/BrokenIsles/broken_isles_script_loader.cpp
  src/server/scripts/BrokenIsles/zone_dalaran_broken_isle.cpp
Labels: Branch-master

#30467 Scripts/Wandering Isle: Implement quest 29420 (The Spirit's Guardian)
  sql/updates/world/master/2025_06_15_01_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Pandaria/zone_the_wandering_isle.cpp
Labels: Branch-master

#31027 Scripts/Spells: Fix bloodthirst heal
  sql/updates/world/master/2025_06_15_02_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31075 Scripts/Spells: Implement Frenzy fury warrior talent
  sql/updates/world/master/2025_06_15_03_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31015 Spells/Warrior: Fix intimidating shout's menace talent
  sql/updates/world/master/2025_06_15_06_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#30777 Scripts/Spells: Implement druid talent Lunar Beam
  sql/updates/world/master/2025_06_15_07_world.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: Branch-master

#31035 Core/AreaTriggers: Add AREATRIGGER_ACTION_TAVERN
  sql/updates/world/master/2025_06_15_08_world.sql
  src/server/game/Entities/AreaTrigger/AreaTrigger.cpp
  src/server/game/Entities/AreaTrigger/AreaTriggerTemplate.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/RestMgr.cpp
  src/server/game/Entities/Player/RestMgr.h
  src/server/game/Handlers/MiscHandler.cpp
Labels: Branch-master

#31078 DB/SiegeOfBoralus: Show exit portals and ATs in normal difficulty
  sql/updates/world/master/2025_06_16_02_world.sql
Labels: Branch-master

#31107 Core/Spells: Change target type for spell Summon Faol in Tirisfal
  src/server/game/Spells/SpellMgr.cpp
Labels: Branch-master

#31025 Scripts/BlackRookHold: Implement Amalgam of Souls encounter
  sql/updates/world/master/2025_06_28_02_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/BrokenIsles/BlackRookHold/black_rook_hold.h
  src/server/scripts/BrokenIsles/BlackRookHold/boss_amalgam_of_souls.cpp
  src/server/scripts/BrokenIsles/BlackRookHold/instance_black_rook_hold.cpp
  src/server/scripts/BrokenIsles/broken_isles_script_loader.cpp
Labels: Branch-master

#31095 Scripts/Spells: Fix mage talent Flamestrike target cap
  src/server/game/Spells/SpellMgr.cpp
Labels: Branch-master

#31094 Scripts/Spells: Implement mage talent Meteor
  sql/updates/world/master/2025_06_29_00_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Spells/spell_mage.cpp
Labels: Branch-master
