Repository TrinityCore/TrinityCore, pull requests merged in 2025-08, with the labels that each got.

#31193 Scripts/Spells: Implement Itch
  sql/updates/world/3.3.5/2025_08_05_00_world.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
Labels: Branch-3.3.5a

#31190 Scripts/Spells: Update Winter Veil spell scripts
  src/server/scripts/Events/winter_veil.cpp
Labels: Branch-3.3.5a

#31165 Scripts/Karazhan: Update Maiden of Virtue
  src/server/scripts/EasternKingdoms/Karazhan/boss_maiden_of_virtue.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.h
Labels: Feedback-PatchFix, Branch-3.3.5a

#31203 Scripts/AQ20: Update Kurinnaxx
  sql/updates/world/3.3.5/2025_08_16_00_world.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.h
Labels: Feedback-PatchFix, Branch-3.3.5a

#31171 Scripts/Spells: Migrate & update several item spell scripts to zone files
  sql/updates/world/3.3.5/2025_08_17_00_world.sql
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
  src/server/scripts/Outland/zone_netherstorm.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#30784 Core/Spells: Implement hunter talent Penetrating Shots
  sql/updates/world/master/2025_08_24_01_world.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Branch-master

#31050 DB/Procs: Add Slaughtering Strikes data
  sql/updates/world/master/2025_08_24_02_world.sql
Labels: Branch-master

#31054 Scripts/Spells: Implement hunter talent Master Marksman
  sql/updates/world/master/2025_08_25_01_world.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Branch-master

#30930 Add .guild list GM command to list all guilds
  sql/updates/world/master/2025_08_25_02_world.sql
  src/server/game/Guilds/GuildMgr.h
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_guild.cpp
Labels: Branch-master

#31010 Scripts/ShadowLabyrinth: Modernize scripts
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_blackheart_the_inciter.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_grandmaster_vorpil.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_murmur.cpp
Labels: Feedback-PatchFix, Branch-3.3.5a

#31053 Scripts/Spells: Implement Fresh Meat talent
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31066 Scripts/Spells: Implement Anger Management talent
  sql/updates/world/master/2025_08_29_00_world.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Branch-master

#31243 Core/Database: Add MySQL 9.4 support to auto updater
  src/server/database/Updater/DBUpdater.cpp
Labels: Branch-3.3.5a

#28219 Scripts/Draenor: Implement script for quest 34378 (Establish your Gar…
  sql/updates/world/master/2025_08_31_03_world.sql
  src/server/scripts/Draenor/draenor_script_loader.cpp
  src/server/scripts/Draenor/zone_frostfire_ridge.cpp
Labels: Branch-master

#31083 Scripts/Spells: Implement mage talent Scorch
  sql/updates/world/master/2025_08_31_04_world.sql
  src/server/scripts/Spells/spell_mage.cpp
Labels: Branch-master

#31227 Spells/DK: Delete spells removed on patch 11.2
  sql/updates/world/master/2025_08_31_05_world.sql
  src/server/scripts/Spells/spell_dk.cpp
Labels: Branch-master

#31072 Scripts/Spells: Implement hunter talent Entrapment
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Branch-master

#31122 Scripts/TheJadeForest: Implement quest "Touching Ground" (31766)
  sql/updates/world/master/2025_08_31_07_world.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
  src/server/scripts/Kalimdor/zone_durotar.cpp
  src/server/scripts/Kalimdor/zone_orgrimmar.cpp
  src/server/scripts/Pandaria/zone_the_jade_forest.cpp
Labels: Branch-master
